Repository chan9yu/blog9yu.dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm lint:fix
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,html,json,yaml,md,prettierrc}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    audit-check:
      run: pnpm audit
    type-check:
      run: pnpm type-check

prepare-commit-msg:
  commands:
    template:
      run: node scripts/copy-template.mjs {1}

style: fixed prettier
  next.config.ts
  postcss.config.mjs
  src/app/globals.css
  tsconfig.json
Due: eslint, prettier

refactor: 폴더구조 정리 및 이관작업, 미사용 파일 제거
  public/favicon.ico
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/layout.tsx
  src/shared/styles/globals.css
  tsconfig.json
Due: eslint, prettier

feat: shadcn ui 설치
  components.json
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/shared/components/ui/Card.tsx
  src/shared/lib/utils.ts
  src/shared/styles/globals.css
Due: eslint, prettier

fix: 의존성 업데이트로 보안 취약점 해결
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix: ESLint react-hooks 플러그인 의존성 문제 해결
  package.json
  pnpm-lock.yaml
Due: prettier

feat: layout 컴포넌트 분리 및 페이지 추가 구성
  src/app/about/layout.tsx
  src/app/about/page.tsx
  src/app/about/projects/page.tsx
  src/app/about/skills/page.tsx
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/shared/components/layouts/Footer.tsx
  src/shared/components/layouts/Header.tsx
Due: eslint, prettier

feat: 공통 컴포넌트 추가
  package.json
  pnpm-lock.yaml
  src/shared/components/ui/Badge.tsx
  src/shared/components/ui/Button.tsx
  src/shared/components/ui/Separator.tsx
Due: eslint, prettier

feat: blog page 동적 라우팅 처리
  src/app/blog/[slug]/page.tsx
  src/app/page.tsx
  src/shared/components/layouts/Header.tsx
Due: eslint, prettier

feat: 사용되지않는 about page 제거
  src/app/about/layout.tsx
  src/app/about/page.tsx
  src/app/about/projects/page.tsx
  src/app/about/skills/page.tsx
  src/shared/components/layouts/Header.tsx
Due: eslint, prettier

chore: 의존성 추가 및 정리
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/shared/components/ui/Select.tsx
Due: eslint, prettier

chore: eslint rule 추가구성
  eslint.config.mjs
Due: none

feat: add container utility class
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/shared/styles/globals.css
Due: eslint, prettier

feat: main page ui 구성
  next.config.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/features/main/components/PostCard.tsx
  src/features/main/components/ProfileSection.tsx
  src/features/main/components/TagSection.tsx
  src/shared/components/ui/Separator.tsx
  src/shared/types/notion.ts
  tsconfig.json
Due: eslint, prettier

feat: 아티클 상세 목차 UI 구성
  src/app/blog/[slug]/page.tsx
  src/features/blog/components/TableOfContentsLink.tsx
  src/features/blog/types/toc.ts
  src/shared/components/layouts/Footer.tsx
  src/shared/components/layouts/Header.tsx
  src/shared/styles/globals.css
Due: eslint, prettier

chore: delete .cursor/rules directory
  .cursor/rules/components.mdc
  .cursor/rules/hooks.mdc
  .cursor/rules/lib.mdc
  .cursor/rules/nextjs.mdc
  .cursor/rules/styles.mdc
  .cursor/rules/typescript.mdc
Due: none

chore: add MIT LICENSE
  LICENSE
Due: none

docs: update README.md
  README.md
Due: prettier

chore: add env.example
  .env.example
  .gitignore
Due: none

feat: add NotionService class
  .env.example
  README.md
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/@types/env.d.ts
  src/shared/lib/notion.ts
  src/shared/types/blog.ts
  src/shared/types/notion.ts
Due: eslint, prettier

feat: notionService 태그목록 가져오는 메소드 추가, getTags
  src/shared/lib/notion.ts
Due: eslint, prettier

feat: notionService 인스턴스 사용, 메인페이지 mockData 교체
  src/app/page.tsx
  src/features/main/components/PostCard.tsx
  src/features/main/components/TagSection.tsx
Due: eslint, prettier

feat: 누락된 접근제어자 추가
  src/shared/lib/notion.ts
Due: eslint, prettier

chore: pnpm version up v10.12.4
  package.json
Due: prettier

chore: mdx 관련 디펜더시 설치 및 환경구성
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/mdx-components.tsx
Due: eslint, prettier

feat: 아티클 상세데이터 가져오는 기능 구현
  src/shared/lib/notion.ts
Due: eslint, prettier

feat: 블로그 상세페이지 구현
  src/app/blog/[slug]/page.tsx
  src/app/page.tsx
  src/features/main/components/PostCard.tsx
  src/shared/lib/date.ts
Due: eslint, prettier

chore: 프로젝트 설정 변경
  .env.example
  .gitignore
  .nvmrc
  .prettierignore
  CLAUDE.md
  LICENSE
  components.json
  eslint.config.mjs
  lefthook.yaml
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/commit-msg.js
  scripts/commit-template.txt
  tsconfig.json
Due: eslint, prettier

fix: pre-push 훅 타입 체크 에러 해결
  lefthook.yaml
Due: prettier

refactor: Next.js 15 폴더 구조 개선
  CLAUDE.md
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/rss/route.ts
  src/app/sitemap.ts
  src/components/footer.tsx
  src/components/mdx.tsx
  src/components/nav.tsx
  src/components/posts.tsx
  src/content/posts/spaces-vs-tabs.mdx
  src/content/posts/static-typing.mdx
  src/content/posts/vim.mdx
  src/lib/blog.ts
  src/styles/globals.css
Due: eslint, prettier

chore: import 경로 수정 및 타입 개선
  src/app/layout.tsx
  src/app/robots.ts
  src/app/rss/route.ts
  src/app/sitemap.ts
Due: eslint, prettier

feat: GitHub API 기반 블로그 컨텐츠 시스템 구축
  CLAUDE.md
  src/app/blog/[slug]/page.tsx
  src/components/posts.tsx
  src/content/posts/spaces-vs-tabs.mdx
  src/content/posts/static-typing.mdx
  src/content/posts/vim.mdx
  src/lib/blog.ts
  src/lib/github.ts
Due: eslint, prettier

feat: 불필요한 네비게이션 메뉴 제거
  src/components/nav.tsx
Due: eslint, prettier

feat: 다크 모드 기능 추가
  src/app/layout.tsx
  src/components/nav.tsx
  src/components/theme-switcher.tsx
  src/lib/theme-script.ts
  src/lib/theme.ts
  src/styles/globals.css
Due: eslint, prettier

refactor: Features-First Architecture 기반 폴더 구조 개선
  CLAUDE.md
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/app/rss/route.ts
  src/app/sitemap.ts
  src/components/mdx.tsx
  src/features/blog/components/BlogPosts.tsx
  src/features/blog/components/index.ts
  src/features/blog/index.ts
  src/features/blog/services/api.ts
  src/features/blog/services/index.ts
  src/features/blog/types/index.ts
  src/features/blog/types/models.ts
  src/features/blog/utils/date.ts
  src/features/blog/utils/index.ts
  src/features/blog/utils/parser.ts
  src/lib/blog.ts
  src/shared/components/SiteFooter.tsx
  src/shared/components/SiteNavbar.tsx
  src/shared/components/ThemeSwitcher.tsx
  src/shared/components/index.ts
  src/shared/components/mdx/CustomMdx.tsx
  src/shared/components/mdx/MdxCode.tsx
  src/shared/components/mdx/MdxHeading.tsx
  src/shared/components/mdx/MdxImage.tsx
  src/shared/components/mdx/MdxLink.tsx
  src/shared/components/mdx/MdxTable.tsx
  src/shared/components/mdx/index.ts
  src/shared/services/github.ts
  src/shared/services/index.ts
  src/shared/styles/globals.css
  src/shared/utils/index.ts
  src/shared/utils/theme-script.ts
  src/shared/utils/theme.ts
  tsconfig.json
Due: eslint, prettier

chore: TypeScript type import 일관성 강화
  eslint.config.mjs
  src/shared/components/mdx/CustomMdx.tsx
  src/shared/components/mdx/MdxCode.tsx
  src/shared/components/mdx/MdxHeading.tsx
  src/shared/components/mdx/MdxImage.tsx
  src/shared/components/mdx/MdxLink.tsx
Due: eslint, prettier

docs: README.md 업데이트
  README.md
Due: prettier

feat: Frontmatter 스키마 검증 시스템 구축
  package.json
  pnpm-lock.yaml
  src/features/blog/index.ts
  src/features/blog/schemas/frontmatter.ts
  src/features/blog/schemas/index.ts
  src/features/blog/services/api.ts
  src/features/blog/types/index.ts
  src/features/blog/types/models.ts
  src/features/blog/utils/index.ts
  src/features/blog/utils/parser.ts
  src/features/blog/utils/validation.ts
Due: eslint, prettier

refactor: GitHub 레포 구조 변경 및 레거시 코드 제거
  src/app/blog/[slug]/page.tsx
  src/app/layout.tsx
  src/app/robots.ts
  src/app/rss/route.ts
  src/app/sitemap.ts
  src/features/blog/components/BlogPosts.tsx
  src/features/blog/index.ts
  src/features/blog/schemas/frontmatter.ts
  src/features/blog/schemas/index.ts
  src/features/blog/services/api.ts
  src/features/blog/services/index.ts
  src/features/blog/types/index.ts
  src/features/blog/types/models.ts
  src/features/blog/utils/index.ts
  src/features/blog/utils/parser.ts
  src/shared/constants/index.ts
  src/shared/services/github.ts
Due: eslint, prettier

feat: ui 작업
  src/app/blog/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/features/blog/components/BlogPosts.tsx
  src/shared/components/SiteFooter.tsx
  src/shared/components/SiteNavbar.tsx
  src/shared/styles/globals.css
Due: eslint, prettier
