Repository chan9yu/blog9yu.dev: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: pnpm eslint {staged_files} --fix --max-warnings=0
  stage_fixed: true

fix: 태그/시리즈 URL 생성 로직 전면 수정 및 slugify 통합
  src/app/sitemap.ts
  src/app/tags/page.tsx
  src/features/series/components/SeriesNavigation.tsx
  src/features/series/services/api.ts
  src/shared/utils/index.ts
  src/shared/utils/slugify.ts
Due: prettier, eslint

chore: vercel.json 제거
  vercel.json
Due: prettier

chore: 불필요 액션 제거
  .github/workflows/trigger-deploy.yml
Due: prettier

style: blockquote 스타일 조정
  src/shared/styles/prose.css
Due: prettier

chore: pnpm 버전 10.19.0으로 업데이트
  package.json
Due: prettier

chore: 불필요 타입파일 제거
  src/shared/types/view-transitions.d.ts
Due: prettier, eslint

feat: 모든 페이지에 기본 OG 이미지 적용
  public/images/default-og-image.png
  src/app/posts/page.tsx
  src/app/series/[slug]/page.tsx
  src/app/series/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/shared/config/seo.ts
Due: prettier, eslint

style: favicon 변경 작업
  public/favicons/android-chrome-192x192.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon.ico
Due: none

feat: sitemap SEO 최적화
  src/app/sitemap.ts
  src/shared/constants/index.ts
Due: prettier, eslint

feat: robots.txt SEO 최적화
  src/app/robots.ts
Due: prettier, eslint

feat: RSS Feed SEO 최적화
  src/app/rss/route.ts
Due: prettier, eslint

feat: 404 페이지 개선
  src/app/not-found.tsx
Due: prettier, eslint

refactor: submodule 이름 변경 (content → contents)
  .gitmodules
  CLAUDE.md
  README.md
  src/features/blog/services/api.ts
  src/shared/services/content.ts
Due: prettier, eslint

chore: package.json 및 Node.js 버전 업데이트
  .nvmrc
  package.json
Due: prettier

chore: vercel의 node 24 미지원으로 package.json engines를 node >=22로 수정
  package.json
Due: prettier

feat: contents 서브모듈 private 전환 대비 이미지 로컬 서빙 구현
  .gitignore
  next.config.ts
  package.json
  scripts/copy-content-images.js
Due: prettier, eslint

chore: added MIT License
  LICENSE
Due: none

feat: Next.js Image + Sharp를 활용한 이미지 최적화 구현
  next.config.ts
  package.json
  pnpm-lock.yaml
  scripts/copy-content-images.js
  src/shared/components/mdx/MdxImage.tsx
Due: prettier, eslint

docs: README 이미지 최적화 정보 업데이트
  README.md
Due: prettier

chore: Vercel Git Submodules 설정 추가
  vercel.json
Due: prettier

feat: Vercel Private Submodule 지원 추가
  README.md
  scripts/vercel-submodule-workaround.sh
Due: prettier

refactor: Vercel Install Command를 package.json 스크립트로 이동
  README.md
  package.json
Due: prettier

chore: change packageManager pnpm@10.21.0
  package.json
Due: prettier

fix: Node.js 버전 자동 업그레이드 경고 제거
  package.json
Due: prettier

refactor: 이미지 복사 스크립트 정리
  scripts/copy-content-images.js
Due: prettier, eslint

refactor: package.json engines 필드 제거
  package.json
Due: prettier

feat: 코드 블록 UI/UX 개선
  src/shared/components/mdx/MdxCode.tsx
  src/shared/components/mdx/MdxPre.tsx
  src/shared/styles/prose.css
Due: prettier, eslint

style: WCAG AAA 컬러 시스템 적용 및 불필요한 CSS 제거
  src/shared/styles/prose.css
  src/shared/styles/tokens.css
Due: prettier

refactor: MDX 이미지 컴포넌트 간소화
  src/shared/components/mdx/MdxImage.tsx
Due: prettier, eslint

feat: PostNavigation 제목 타이포그래피 개선
  src/features/blog/components/PostNavigation.tsx
Due: prettier, eslint

feat: ScrollToTop 버튼 UX 개선
  src/shared/components/ScrollToTop.tsx
Due: prettier, eslint

feat: 블로그 카드 타이틀 line-height 개선
  src/features/blog/components/BlogPostCard.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,json,yaml,yml,md,mdx,css}
  eslint: any of: *.{js,ts,jsx,tsx}
